* {
    margin: 0;
    border: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
}

section {
    position: relative;
    width: 49vw;
    height: 100vh;
}

.left-side {
    border-right: 1px solid black;
}

.right-side {
    border-left: 1px solid black;
}



span {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid red;
}