:root {
    --negro: #000;
    --blanco: #fff;
}

* {
    margin: 0;
    border: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 100vw;
}

#container {
    position: relative;
    /* width: 100%; */
    height: 100vh;
}

.square-one,
.square-two {
    position: absolute;
    width: 20px;
    height: 80px;
    background-color: black;
    top: 40vh;
}

.square-one {
    left: 20px;
}

.square-two {
    right: 20px;
}

span {
    position: absolute;
    left: 48%;
    top: 42%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: dashed var(--blanco) 3px;
    background-color: var(--negro);
    animation: rotate 3s linear infinite;
}